.contact__list{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  & li{
    width: 300px;
  }
}

.btn-del{
  border: 1px solid grey;
  background: gold;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  transition: all .3s ease-in-out;
  &:hover{
    background: brown;
  }
}